.menuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 20px;
  background-color: #1a1a1a;
  color: white;
  height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: large;
  background-color: #5f5849;
}
