.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.searchResult{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dataContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

