body {
  background-color: #202020;
  color: #fff;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.relics {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #5f5849;
}
