:root {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* width: 100%; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: inherit;
  transition: all 0.2s ease;
}
a:hover {
  color: #ddd;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: #202020;
  color: #fff;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
